In [ ]:
# Import necessary libraries
import numpy as np
import pandas as pd

In [ ]:
#Read the CSV file and display the first five rows
df_file = pd.read_csv('../../dsi_team_22/data/raw/pharma_spending_data.csv')
df_file.head()

  LOCATION  TIME  PC_HEALTHXP  PC_GDP  USD_CAP FLAG_CODES  TOTAL_SPEND
0      AUS  1971       15.992   0.727   35.720        NaN       462.11
1      AUS  1972       15.091   0.686   36.056        NaN       475.11
2      AUS  1973       15.117   0.681   39.871        NaN       533.47
3      AUS  1974       14.771   0.755   47.559        NaN       652.65
4      AUS  1975       11.849   0.682   47.561        NaN       660.76

In [ ]:
#Displays summary information 
df_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1036 entries, 0 to 1035
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   LOCATION     1036 non-null   object
 1   TIME         1036 non-null   int64
 2   PC_HEALTHXP  1036 non-null   float64
 3   PC_GDP       1036 non-null   float64
 4   USD_CAP      1036 non-null   float64
 5   FLAG_CODES   63 non-null     object
 6   TOTAL_SPEND  1036 non-null   float64
dtypes: float64(4), int64(1), object(2)
memory usage: 56.8+ KB

In [ ]:
#Display summary statistics
df_file.describe()

              TIME  PC_HEALTHXP       PC_GDP      USD_CAP    TOTAL_SPEND
count  1036.000000  1036.000000  1036.000000  1036.000000    1036.000000
mean   1996.809846    16.406307     1.170948   295.046989   11765.423118
std      12.498330     6.389064     0.465635   209.152134   34878.286123
min    1970.000000     5.545000     0.207000     3.160000       6.290000
25%    1987.000000    11.516250     0.768250   111.098500     728.180000
50%    1999.000000    14.967500     1.141500   266.332000    2349.570000
75%    2007.000000    20.590500     1.523250   446.109500    7778.180000
max    2016.000000    40.239000     2.797000  1162.399000  373009.910000

*We use ydata_profiling's ProfileReport to generate an interactive and comprehensive data analysis report quickly. It provides insights into the dataset, such as distributions, correlations, missing values, and outliers, helping to identify patterns, data quality issues, and trends without extensive manual analysis. This tool aids in understanding the structure and characteristics of the data before performing a deeper analysis*

*GitHub does not support interactive plots, so some screenshots have been provided for reference. To fully explore the interactive visualizations, please run the notebook locally or on platforms like Jupyter Notebook or Google Colab*

*To run the code, install the required libraries:* `pip install ydata-profiling`

In [5]:
#Generate an interactive data profiling report using ydata_profiling
from ydata_profiling import ProfileReport
profile = ProfileReport(df_file, title="Profiling Report")
profile.to_widgets()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…


![Overview Profiling Report](images/PR_Overview.png)

![Variables Time Profiling Report](images/PR_VariablesTime.png)

![Variables Usd Cap Profiling Report](images/PR_VariablesUsdcap.png)

![Alerts Profiling Report](images/PR_Alerts.png)

![Interactions Profiling Report](images/PR_Interactions.png)

![Correlations Profiling Report](images/PR_Correlations.png)

![Correlations Table Profiling Report](images/PR_CorrelationsTable.png)

![Missing Values Profiling Report](images/PR_MissingValues.png)

*We use pandas_visual_analysis's VisualAnalysis to simplify and accelerate the data exploration process. It provides interactive and intuitive visualizations that help understand the structure, distributions, and relationships within the data. Automatically generating visual reports allows users to quickly identify trends, detect anomalies, and explore the underlying patterns in the dataset. This tool helps gain insights before diving into a more detailed analysis*

*To run the code, install the required libraries by running:* `pip install pandas-visual-analysis`

In [ ]:
#Drop column FLAG_CODES, convert datatype of column LOCATION, set multiindex for efficient access
df_clean = df_file.drop(columns={'FLAG_CODES'}).astype({'LOCATION': 'category'}).set_index(['LOCATION', 'TIME'])
df_clean

               PC_HEALTHXP  PC_GDP  USD_CAP  TOTAL_SPEND
LOCATION TIME
AUS      1971       15.992   0.727   35.720       462.11
         1972       15.091   0.686   36.056       475.11
         1973       15.117   0.681   39.871       533.47
         1974       14.771   0.755   47.559       652.65
         1975       11.849   0.682   47.561       660.76
...                    ...     ...      ...          ...
LTU      2012       28.942   1.820  448.728      1340.70
         2013       28.173   1.728  461.178      1364.02
         2014       27.836   1.724  485.245      1422.92
         2015       26.784   1.745  504.422      1465.30
RUS      2015       22.939   1.286  309.900     44655.62

[1036 rows x 4 columns]

In [7]:
#Create an interactive exploratory data analysis dashboard
from pandas_visual_analysis import VisualAnalysis
VisualAnalysis(df_clean.reset_index(), categorical_columns=["LOCATION"])

VBox(children=(ToggleButtons(_dom_classes=('layout-7c326d6f1f904e7da8d9911b50155d23',), description='Selection…

![Mean Visual Analysis](images/VA_StandartMean.png)

![Maximum Visual Analysis](images/VA_StandartMax.png)

![Minimum Visual Analysis](images/VA_StandartMin.png)

![Median Visual Analysis](images/VA_StandartMedian.png)

![1stQ Visual Analysis](images/VA_Standart1Q.png)